div {
  padding: 1em;
}

.inline-div {
  padding: 0em;
}

#divTitle {
  display: flex;
}

#divHeader {
  margin-left: 10px;
}

#divSettings {
  width: 900px;
  border-style: solid;
    border-radius: 10px;
  background-color: #4B5320;
}

#divCustomSessionDuration {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}

.element-visible {
  display: block;
}

.element-hide {
  display: none;
}

.setting-part {
  width: 876px;
  border-radius: 10px;
  background-color: #C4C7B6;
  margin-bottom: 14px;
}

label {
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 100%;
  display:inline-block;
  margin-bottom: 5px;
}

#role_arns {
  margin-top: 14px;
}

#highlight_term_and_colors {
  margin-top: 14px;
}

#configs_extra_key_value_pairs {
  margin-top: 14px;
}

#filter_role_arns {
  margin-top: 14px;
}

#status {
  height: 15px;
  margin-bottom: 5px;
}

#divSave {
  padding-top: 0em;
}

#divChangelog {
  width: 600px;
}